body {
	background-color: #eff3f9 !important;
}

.overflow-y-hidden {
	overflow-y: hidden !important;
}

.feed-content::-webkit-scrollbar {
	width: 15px;
	background-color: #fff;
}

.feed-content::-webkit-scrollbar-thumb {
	width: 15px;
	background-color: #95999c;
	border-radius: 50rem;
}l

.h-10 {
    height: 2.5rem;
}

.w-10 {
    width: 2.5rem;
}

.z-10 {
    z-index: 10;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.post-cards a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
  }
